<%= render 'layouts/header' %>
<%= render 'layouts/sidebar' %>
<div id='content'>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sunt officia voluptatem ab ad provident rerum quisquam impedit quis in pariatur fugit sit illo. Quis, quae distinctio neque illo dolorem.</p>
</div>