@import "fonts";

$mainOrange: rgb(241, 98, 20);

$Sans: 'Lato', sans-serif;
$Zorange: 'zorange';

$Twinkle: image-url('twinkle.png');

$btnPrimaryBackground: lighten($mainOrange, 15%);
$btnPrimaryBackgroundHighlight: $mainOrange;

@mixin vendor-prefix($name, $argument) {
  #{$name}: #{ $argument };
  -webkit-#{$name}: #{ $argument };
  -ms-#{$name}: #{ $argument };
  -moz-#{$name}: #{ $argument };
  -o-#{$name}: #{ $argument };
}

.arrow_box {
	position: relative;
	background: #d5ccca;
	border: 2px solid #fff;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 204, 202, 0);
	border-top-color: #d5ccca;
	border-width: 2px;
	left: 50%;
	margin-left: -2px;
}
.arrow_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}

body {
	background: $Twinkle;
	color: white !important;
	font-family: $Sans !important;
}

.btn {
	font-family: $Sans !important;
}

.Checkbox {
	@include vendor-prefix(transition, color 0.25s);
	&:hover {
		color: transparentize(darken($mainOrange, 5%), 0.35);
		cursor: pointer;
	}
}

.Hidden {
	display: none !important;
}

.Icon {
	font-family: $Zorange !important;
}

input {
	font-family: $Sans !important;
}

label {
	display: none !important;
}

.SameItemBar {
	border: 1px dashed transparentize(white, 0.35);
	position: absolute;
}

.SegmentToggle {
	display: block;
	list-style: none;
	margin: 10px 20px;
	padding: 0;
	width: 100%;
	.SegmentToggleItem {
		box-sizing: border-box;
		display: inline-block;
		font-size: 14px;
		line-height: 18px;
		margin: 0;
		padding: 8px;
		text-align: center;
		width: 97px;
		@include vendor-prefix(transition, background 0.75s);
		&:hover {
			background: #666;
			cursor: pointer;
		}
		&.SegmentToggleItemSmall {
			margin: 0;
			width: auto;
		}
		&.Selected {
			background: #CCC;
			color: #222;
		}
	}
}

textarea {
	font-family: $Sans !important;
}