// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "shared";

/***** Header styles *****/
#headerBar {
	background: $mainOrange;
	height: 40px;
	padding: 0 40px;
	position: fixed;
	width: 100%;
	ul {
		display: inline-block;
		float: left;
		list-style: none;
    margin: 0.25em 0;
		padding: 0;
		width: 180px;
		&#headerViewMode {
			text-align: left;
		}
		&#headerFilters {
			margin-left: 30px;
			text-align: center;
		}
		li {
      color: transparentize(white, 0.15);
			display: inline-block;
			font-size: 20px;
      line-height: 24px;
      padding: 0 8px;
      @include vendor-prefix(transition, background 0.5s);
      &:hover {
        background: transparentize(white, 0.65);
        cursor: pointer;
      }
      &.Selected {
        background: transparentize(white, 0.25);
        color: transparentize(black, 0.15);
      }
		}
	}
	#headerSearch {
		display: none;
		float: right;
	}
}

/***** Sidebar styles *****/
#sidebar {
  background: #444;
  bottom: 0;
  color: white;
  left: 0;
  position: absolute;
  top: 40px;
  width: 240px;
  #sidebarModeToggleContainer {
    border-bottom: 2px groove transparentize(black, 0.65);
    width: 100%;
  }
  #sidebarContent {
    .SidebarContentList {
      list-style: none;
      margin: 0;
      padding: 0;
      .CategoryListItem {
        border-bottom: 1px solid #222;
        border-top: 1px solid #555;
        height: 28px;
        line-height: 28px;
        padding: 15px;
        @include vendor-prefix(transition, background 0.5s);
        &:hover {
          background: #666;
          cursor: pointer;
        }
        &:last-child {
          border-bottom: none;
        }
        &.Selected {
          background: #CCC;
          color: #222;
        }
      }
    }
  }
}

/***** Content styles *****/
#content {
  background: $Twinkle;
  color: white;
  left: 240px;
  position: absolute;
  right: 0;
  top: 40px;
  #timelineHeader {
    border-left: 1px solid #222;
    height: 46px;
    margin-bottom: 9px;
    width: 100%;
    #timelineHeaderMeta {
      background: #444;
      height: 36px;
      .IconButtonGroup {
        display: inline-block;
        margin: 5px 16px;
        &#headerNavGroup {
          float: left;
        }
        &#headerZoomGroup {
          float: right;
        }
        .Button {
          padding: 3px;
        }
      }
    }
    #timelineHeaderMarks {
      background: #444;
      font-size: 6px;
      // height: 16px;
      position: relative;
      width: 100%;
      .TimelineMarkerContainer {
        display: inline-block;
        height: 16px;
        text-align: center;
        .TimelineMarker  {
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
          display: inline-block;
          height: 16px;
          position: absolute;
          width: 1px;
          &.TimelineTextMarker {
            background: none;
            font-size: 13px;
            margin-left: -10px;
          }
          &.TimelineHiddenMarker {
            display: none;
          }
          &.TimelineSubmarker {
            height: 12px;
            margin-top: 4px;
            opacity: 0.5;
          }
        }
      }
    }
  }
  .ItemsList {
    list-style: none;
    margin: 20px;
    padding: 0;
    .ItemListItem {
      border-bottom: 1px solid transparentize(white, 0.75);
      height: 20px;
      padding: 6px 0;
      position: relative;
      .ItemListItemIcon {
        color: $mainOrange;
        left: 0;
        position: absolute;
      }
      .ItemListItemCheckbox {
        left: 30px;
        position: absolute;
      }
      .ItemListItemTitle {
        left: 48px;
        position: absolute;
      }
    }
  }
  #timebar {
    background: $mainOrange;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 1px;
    @include vendor-prefix(transition, left 0.1s);
  }
  .TimelineRow {
    height: 60px;
    width: 100%;
    @include vendor-prefix(transition, background 0.5s);
    &:hover {
      background: #222;
    }
    .TimelineRowLevel {
      position: relative;
      .TimelineItem {
        // background: $mainOrange;
        border-radius: 5px;
        display: inline-block;
        font-size: 8px;
        height: 8px;
        position: absolute;
      }
    }
  }
}

#itemContainer {
  color: #333;
}