<header id='headerBar'>
	<ul id='headerViewMode'>
		<li class='Icon'>&#xE804;</li>	<!-- Timeline -->
		<li class='Icon'>&#xE800;</li>	<!-- Me (List) -->
		<li class='Icon'>&#xE802;</li>	<!-- Calendar -->
		<li class='Icon'>&#xE803;</li>	<!-- Micro -->
	</ul>
	<ul id='headerFilters'>
		<li class='Icon'>&#xE801;</li>	<!-- All -->
		<li class='Icon'>&#xE804;</li>	<!-- Tasks -->
		<li class='Icon'>&#xE805;</li>	<!-- Events -->
		<li class='Icon'>&#xE806;</li>	<!-- Messages -->
	</ul>
	<div id='headerSearch'>
		Search
	</div>
</header>