<section id='sidebar'>
  <div id='sidebarModeToggleContainer'>
    <ul class='SegmentToggle' id='sidebarModeToggle'>
      <li class='SegmentToggleItem' data-toggle='categories'>Categories</li>
      <li class='SegmentToggleItem' data-toggle='people'>People</li>
    </ul>
  </div>
  <div id='sidebarContent'>
  </div>
</section>

<section class='Hidden' id='inbox'>
</section>